#background-panel {
    -fx-background-color: linear-gradient(to left top, #9FFFCB, #25A18E);
    -fx-border-color: #004e64;
}

#side-menu {
    -fx-background-color: #004e64;
}

#bottom-menu .button{
    -fx-background-color:#004e64;
    -fx-border-style: solid;
    -fx-border-color: #004e64;
    -fx-border-width: 2;
    -fx-text-fill: #9FFFCB;
    -fx-font-size: 24;
}

#bottom-menu .button:hover{
    -fx-background-color:#9FFFCB;
    -fx-text-fill: #004e64;
}

#holder-pane {
    -fx-background-color:#004e64;
    -fx-effect: dropshadow(gaussian, black, 7, 10%, 0, 0);
}

.button {
    -fx-background-color:#004e64;
    -fx-border-style: solid;
    -fx-border-color: #9FFFCB;
    -fx-border-width: 2;
    -fx-text-fill: #9FFFCB;
    -fx-font-size: 22;
}

.button:hover{
    -fx-background-color:#9FFFCB;
    -fx-text-fill: #004e64;
}

.table-view {
    -fx-background-color: transparent;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #004e64;
    -fx-text-fill: #9FFFCB;
    -fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #9FFFCB;
    -fx-font-size: 18;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: transparent;
    -fx-text-fill:#9FFFCB;
    -fx-padding: 2 0 2 10px;
}
.table-row-cell:odd{
    -fx-background-color: #93f9b911;
    -fx-text-fill:#9FFFCB;
    -fx-font-size: 16;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}
.table-row-cell:even{
    -fx-background-color: #1dbbdd11;
    -fx-text-fill:#9FFFCB;
    -fx-font-size: 16;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to left top, #9FFFCB, #25A18E);
}

.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to left top, #9FFFCB, #25A18E);
}